.popup__save-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 0;
  color: #fff;
  margin: 48px 0 0 0;
  transition: opacity .2s ease-in-out;
  font-size: 18px;
  line-height: calc(21.78 / 18);
  font-weight: 400;
}

.popup__save-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 43px 0 0 0;
    font-size: 14px;
    line-height: calc(16.94 / 14);
  }
}