.footer__copyright {
  font-size: 18px;
  line-height: calc(21.78 / 18);
  font-weight: 400;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: calc(16.94 / 14);
  }
}