.popup__sign-in-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  line-height: calc(16.94 / 14);
  transition: opacity .2s ease-in-out;
}

.popup__sign-in-link:hover {
  cursor: pointer;
  opacity: .6;
}