.popup__info {
  width: calc(100% - 36px * 2);
  margin: 37px auto 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__info {
    width: calc(100% - 22px * 2);
    margin: 62px auto 0 auto;
    padding: 2px 0 0 0;
  }
}