@import url('./vendor/normalize.css');
@import url('./fonts/inter.css');

@import url('./blocks/wrapper/wrapper.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__header/page__header.css');
@import url('./blocks/page/__content/page__content.css');
@import url('./blocks/page/__footer/page__footer.css');
@import url('./blocks/page/_type/page_type_register.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__email/header__email.css');

@import url('./blocks/content/content.css');
@import url('./blocks/content/__profile/content__profile.css');
@import url('./blocks/content/__elements/content__elements.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__layout/profile__layout.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__full-name/profile__full-name.css');
@import url('./blocks/profile/__role/profile__role.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');

@import url('./blocks/elements/elements.css');

@import url('./blocks/element/element.css');
@import url('./blocks/element/__image/element__image.css');
@import url('./blocks/element/__title/element__title.css');
@import url('./blocks/element/__like-counter/element__like-counter.css');
@import url('./blocks/element/__like-button/element__like-button.css');
@import url('./blocks/element/__like-button/_active/element__like-button_active.css');
@import url('./blocks/element/__delete-button/element__delete-button.css');
@import url('./blocks/element/__delete-button/_visible/element__delete-button_visible.css');
@import url('./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css');


@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/_type/popup_type_image.css');
@import url('./blocks/popup/_type/popup_type_login.css');
@import url('./blocks/popup/_type/popup_type_register.css');
@import url('./blocks/popup/_type/popup_type_info-tool-tip.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__edit-form/popup__edit-form.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__title/_theme/popup__title_theme_black.css');
@import url('./blocks/popup/__title/_type/popup__title_type_info-tool-tip.css');
@import url('./blocks/popup/__info/popup__info.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_theme/popup__input_theme_black.css');
@import url('./blocks/popup/__error-element/popup__error-element.css');
@import url('./blocks/popup/__error-element/_visible/popup__error-element_visible.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__save-button/popup__save-button.css');
@import url('./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css');
@import url('./blocks/popup/__save-button/_theme/popup__save-button_theme_white.css');
@import url('./blocks/popup/__save-button-title/popup__save-button-title.css');
@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__image-container/popup__image-container.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__image-caption/popup__image-caption.css');
@import url('./blocks/popup/__container/_type/popup__container_type_delete.css');
@import url('./blocks/popup/__save-button/_type/popup__save-button_type_delete.css');
@import url('./blocks/popup/__container/_type/popup__container_type_avatar.css');
@import url('./blocks/popup/__input/_type/popup__input_type_avatar.css');
@import url('./blocks/popup/__container/_theme/popup__container_theme_black.css');
@import url('./blocks/popup/__sign-in-link/popup__sign-in-link.css');
@import url('./blocks/popup/__cite/popup__cite.css');
@import url('./blocks/popup/__sign/popup__sign.css');

@import url('./blocks/spinner/spinner.css');
